.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;/* Added missing semicolon */
  padding: 20px;
  width: 100%;
  padding: 20px;
  margin: 20px 0px;
}

.logo {
  height: 50px; /* Adjust logo size as needed */
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  border: none;
}

.nav-links a:hover{
  border-bottom: 3px solid red;
  font-weight: 200;
}
